<!DOCTYPE html>
<html>
<head>
    <title>JingBot</title>
</head>
<body>

<h1>{{ .PageTitle}}</h1>
{{ range $value := .Endpoints }}
    <li><a href={{ $value }}>{{ $value }}</a></li>
{{ end }}

<p>Notes: the cron schedule is done in UTC time </p>
<p>Feel free to contribute on  <a href="https://github.com/zac-sanchez/jingbot">Github</a></p>
<p>For deployment and app configuration email me at <a href="mailto:zsanchez@atlassian.com">zsanchez@atlassian.com</a></p>
</body>
</html>